<blockquote class="rectangle-speech-border"><p>
  So what's this all about?
</p></blockquote>
<blockquote class="rectangle-speech-border response"><p>
  It's an RSS feed for your Twitter account
</p></blockquote>
<blockquote class="rectangle-speech-border"><p>
  Ah but doesn't Twitter already give me an RSS feed?
</p></blockquote>
<blockquote class="rectangle-speech-border response"><p>
  Yup, but it doesn't include your direct messages, or avatars with the 
  tweets, and sometimes it truncates the messages.
  Blech!
</p></blockquote>
<blockquote class="rectangle-speech-border"><p>
  OK, I'm sold.  How do I get it?
</p></blockquote>
<blockquote class="rectangle-speech-border response"><p>
  <%= link_to 'Just click here!', @redirect_path %>
</p></blockquote>
