<p class="question">
  So what's this all about?
</p>
<p class="answer">
  It's an RSS feed for your Twitter account
</p>
<p class="question">
  Ah, but doesn't Twitter already give me an RSS feed?
</p>
<p class="answer">
  Yup, but their feed 
  doesn't include your direct messages, 
  or avatars with the tweets, 
  and sometimes it truncates the messages.
  Blech!
</p>
<p class="question">
  OK, I'm sold.  How do I get it?
</p>
<p class="answer">
  <%= link_to 'Just click here!', @redirect_path %>
</p>
